**/.DS_Store
*.swp
*.swo
*.iml
*.ipr
*.iws
build
.gradle
.idea
*/build
**/warp.properties
buildSrc/wrapper
buildSrc/daemon
**/project
**/target
classes
out
public
gh-pages-src/static/scaladoc/warp-core
