**/.DS_Store
*.swp
*.swo
*.iml
*.ipr
*.iws
build
.gradle
.idea
*/build
*/build_*
build_*
buildSrc/wrapper
buildSrc/daemon
**/project
**/target
classes
out
public
# no need to check in generated scaladoc
gh-pages-src/static/scaladoc
gh-pages-src/.hugo_build.lock
/config/
