version: '3'
# used for local dev and ci builds
services:
    mysql:
        image: mysql:${MYSQL_VERSION}
        environment:
            # make sure to use something more secure in production
            - MYSQL_ROOT_PASSWORD=1234
            - MYSQL_DATABASE=warp
        ports:
            - "${WARP_CORE_MYSQL_PORT}:3306"
        privileged: true
        # consider turning off general_log in production for performance
        command: ['mysqld', '--innodb-print-all-deadlocks=true', '--general_log=1', '--sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION']
    influx:
        image: influxdb:${INFLUX_VERSION}
        ports:
            - "${WARP_CORE_INFLUX_PORT}:8086"
    grafana:
        image: grafana/grafana:${GRAFANA_VERSION}
        ports:
            - "${WARP_CORE_GRAFANA_PORT}:3000"
        depends_on:
            - influx
